<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModuloPrincipalContext" connectionString="metadata=res://*/ModuloPrincipalDataModel.csdl|res://*/ModuloPrincipalDataModel.ssdl|res://*/ModuloPrincipalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARWIN;initial catalog=Oporie;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>